html, body, #game {
	width    : 100%;
	height   : 100%;
	margin   : 0px;
	padding  : 0px;
	overflow : hidden;
}

body {
	background : #EEE;
}

.screen {
	border-radius : 15px;
	position      : relative;
	border        : 1px solid #CCC;
	margin        : 0.5%;
	box-shadow    : 0px 0px 2px #000;
	background    : #FFE;
	float         : left;
}

.ball {
	position      : absolute;
	background    : #0FF -webkit-gradient(
		  radial, 25% 25%, 4, 50% 50%, 40
		, from(            rgba( 245, 245, 245, 0.3 ) )
		, color-stop( 0.5, rgba( 26 , 26 , 26 , 0.9 ) )
		, to(              rgba( 0  , 0  , 0  , 0.8 ) )
	);
	width         : 40px;
	height        : 40px;
	border-radius : 50px;
}
.ball .shadow {
	position              : absolute;
	bottom                : 22%;
	left                  : 0;
	right                 : 0;
	height                : 10%;
	-webkit-border-radius : 100px;
	box-shadow            : 0 10px 5px rgba( 0, 0, 0, .2 )
}
.ball .shadow2 {
	position              : absolute;
	bottom                : 22%;
	left                  : 25%;
	right                 : 25%;
	height                : 5%;
	-webkit-border-radius : 100px;
	box-shadow            : 0 10px 5px rgba( 0, 0, 0, .6 );
}

.hole {
	border-radius : 50px;
	background    : #000;
	width         : 50px;
	height        : 50px;
	box-shadow    : 0 0 15px #000;
}

.two-by-two     .screen { width  : 48%;    height : 48%;    }
.two-by-three   .screen { width  : 48%;    height : 31.33%; }
.three-by-two   .screen { width  : 31.33%; height : 48%;    }
.three-by-three .screen { width  : 31.33%; height : 31.33%; }

.two-by-two     .game { width : 200%; height : 200%; }
.two-by-three   .game { width : 200%; height : 300%; }
.three-by-two   .game { width : 300%; height : 200%; }
.three-by-three .game { width : 300%; height : 300%; }